.primary-button{
    background-color: var(--second-color);
    color: white;
    padding: .6rem 1rem;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}
.auth-input{
    width: 340px;
    background-color: white;
    padding: .7rem 1.6rem;
    border: none;
    border-radius: 5px;
}