:root {
    --main-color: #334150;
    --second-color: #ECB159;
    --second-color-darker: #B67352;
    --gray: #F5F6F7;
    --white: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
input{
    display: block;
}

